@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    .menubar {
        display: block;
    }

    .menu {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .header-info {
        display: none;
    }
    
    .header-img {
        width: 100%;
    }

    .fashion-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    nav {
        padding: 30px 35px;
    }
}