@media screen and (max-width: 992px) {
    .accessories-container {
        flex-direction: column;
    }

    .accessories-video,
    .accessories-info {
        width: 80%;
        text-align: center;
        padding-left: 0px;
    }

    .latest-news-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .menubar {
        display: block;
    }

    .menu {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .header-info {
        display: none;
    }
    
    .header-img {
        width: 100%;
    }

    .fashion-container {
        flex-direction: column;
    }

    .shop-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .latest-news-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 576px) {
    nav {
        padding: 30px 35px;
    }

    .shop-container {
        grid-template-columns: 1fr;
    }

    .accessories-video,
    .accessories-info {
        width: 100%;
    }
}