/* Font Family Link */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.menubar {
    font-size: 2rem;
    color: #0057fc;
    cursor: pointer;
    display: none;
}

/* Navbar Style */

nav {
    background-color: #fff;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.logo i {
    font-size: 1.5rem;
    color: #0057fc;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu li a {
    font-size: 1.1rem;
    font-weight: 500;
    color: #111;
}

.menu li a:hover {
    border-bottom: 2px solid #0057fc;
}

.nav-btn {
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: #0057fc;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.nav-btn:hover {
    background-color: #0039a5;
    transition: all .5s;
}

/* Header Section Style */

header {
    background-color: #1a1a1a;
    height: 480px;
}

.header-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.header-info {
    width: 50%;
    padding-top: 140px;
    padding-left: 50px;
}

.header-info-title {
    font-size: 3.5rem;
    font-weight: 600;
    color: #fff;
}

.header-btn {
    border: 1px solid #fff;
    background-color: #1a1a1a;
    color: #fff;
    padding: 12px 30px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 600;
}

.header-btn:hover {
    border: 1px solid #fff;
    background-color: #fff;
    color: #0057fc;
    transition: all .5s;
}

.header-img {
    width: 50%;
    height: 100%;
}

.header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Fashion Section Style */

.fashion-section {
    padding: 100px 0px;
}

.fashion-section-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #111;
    text-align: center;
}

.fashion-section-sub-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #111;
    text-align: center;
    margin-top: 15px;
}

.fashion-container {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    cursor: pointer;
}

.women-fashion,
.man-fashion {
    text-align: center;
}

.women-fashion h3 {
    margin-top: 20px;
    font-size: 2.5rem;
    color: #0057fc;
    font-weight: 400;
}

.man-fashion h3 {
    margin-top: 20px;
    font-size: 2.5rem;
    color: #111;
    font-weight: 600;
}

.man-img img,
.women-img img {
    width: 100%;
}

/* Shop Section Style */

.shop-section {
    padding-bottom: 100px;
}

.shop-section-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #555555;
    text-align: center;
}

.shop-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.shop-card {
    cursor: pointer;
}

.shop-card-img img {
    width: 100%;
}

.shop-card:hover img {
    opacity: .7;
    transition: all .3s;
}

.shop-card-info {
    text-align: center;
    margin-top: 20px;
    color: #111;
}

.shop-card-info h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5px;
}

/* Accessories Section Style */

.accessories-section {
    padding: 100px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.637)), url("../img/accessories-bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.accessories-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.accessories-video {
    width: 50%;
    height: 400px;
    background-image: url("../img/accessories-img.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.accessories-video i {
    font-size: 4.5rem;
    color: #0057fc;
    cursor: pointer;
}

.accessories-info {
    width: 50%;
    padding-left: 70px;
}

.accessories-info h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}

.accessories-info a {
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
}

.accessories-info a:hover {
    color: #c7c7c7;
    transition: all .3s;
}

/* Latest News Section Style */

.latest-news {
    padding: 100px 0px;
}

.latest-news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.latest-news-title {
    font-weight: 600;
    font-size: 2.5rem;
    color: #111111;
    text-align: center;
}

.latest-news-card {
    cursor: pointer;
}

.latest-news-card:hover .latest-news-card-img img {
    opacity: .7;
}

.latest-news-card-img {
    margin-bottom: 20px;
}

.latest-news-card-img img {
    width: 100%;
}

.latest-news-card-info a {
    color: #111;
}

.latest-news-card-info a:hover {
    color: #0057fc;
}

.latest-news-card-info p {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #111;
}



